In [75]:
# Install missing packages
%pip install pandas numpy

#Import necessary libraries

import sys as sys

import pandas
import numpy as np

print("pandas", pandas.__version__)
print("numpy", np.__version__)

Requirement already satisfied: pandas in c:\users\student\digital_futures\abdullah-capstone-project\my-capstone-etl-project\.venv\lib\site-packages (2.3.2)
Requirement already satisfied: numpy in c:\users\student\digital_futures\abdullah-capstone-project\my-capstone-etl-project\.venv\lib\site-packages (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\student\digital_futures\abdullah-capstone-project\my-capstone-etl-project\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\student\digital_futures\abdullah-capstone-project\my-capstone-etl-project\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\student\digital_futures\abdullah-capstone-project\my-capstone-etl-project\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\student\digital_futures\abdullah-capstone-project\my-capstone-etl-project\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
pandas 2.3.2
numpy 2.3.2

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Load the Data frame of the CSV file and display a few rows from the file

In [76]:
# Load the CSV file from the data/raw directory
df = pandas.read_csv("../data/raw/global_flights_data.csv")

df.head()

,from_airport_code,from_country,dest_country,aircraft_type,airline_name,flight_number,departure_time,arrival_time,duration,stops,price,co2_emissions,avg_co2_emission_for_this_route,co2_percentage
0,BRU,Belgium,Spain,Airbus A319|ATR 72|Airbus A319,[Brussels Airlines| Tap Air Portugal],SN3809|SN3809|SN3809,27/08/2022 14:40,28/08/2022 00:20,580,2,269.45,338000.0,149000.0,127%
1,XIY,China,China,Airbus A321|Boeing 737,[China Eastern| Shanghai Airlines],MU2155|MU2155,15/05/2022 11:00,15/05/2022 16:30,330,1,540.60,284000.0,NaN,NaN
2,MUC,Germany,Canada,Airbus A320|Embraer 195|Boeing 787,[Lufthansa| LOT],LH1622|LH1622|LH1622,30/05/2022 11:20,30/05/2022 20:15,895,2,767.55,684000.0,656000.0,4%
3,HGH,China,United States,Airbus A321neo|Airbus A350|Boeing 737|De Havil...,[Cathay Pacific| Alaska],CX959|CX959|CX959|CX959,30/05/2022 11:25,31/05/2022 20:29,2884,3,2198.10,1133000.0,1119000.0,1%
4,BOM,India,Thailand,Airbus A320|Airbus A320,[IndiGo],6E2518|6E2518,07/05/2022 20:35,08/05/2022 11:20,795,1,194.65,412000.0,340000.0,20%

In [ ]:
# Display DataFrame information and structure
print("DataFrame Shape:", df.shape)
print("\nColumn Names:")
print(df.columns.tolist())
print("\nData Types:")
print(df.dtypes)
print("\nFirst 5 rows:")
print(df.head())
print("\nDataFrame Info:")
df.info()

Display missing values in the dataset and represent this as s percentage of missing values within the entire datset for every column.

In [ ]:
#For better display print a title of the output on top part of code

print("Missing Values in the Dataset:")
print ("=" * 30)



#Print total percentage of rows with missing values
total_missing = df.isna().sum().sum()
total_pct = (total_missing / (total_rows * len(df.columns))) * 100  # total_rows is already defined
print(f"Total: {total_missing:,} missing cells ({total_pct:.2f}%)")

In [ ]:
#Remove missing values from the dataset
df = df.dropna()

total_missing = df.isna().sum().sum()

print(total_missing)

Convert the current ticket prices to Great British Pounds from US Dollars

In [ ]:
# Convert the price to GBP with currency values in 2022
df['price'] = df['price'] * 0.85

df = df.round(2) #Rounds the final prices to 2 decimal places, eg ---> Â£145.47

df.head(10)

Identify any duplicate values in the rows

In [ ]:
#Find duplicate rows in the dataset
duplicate_rows = df[df.duplicated()]

#show the number of duplicate rows found
print(f"Number of duplicate rows found: {len(duplicate_rows)}")


#Display the results
print("Duplicate Rows in the Dataset:")
print("=" * 50)
print(duplicate_rows)

Remove rows which are completely duplicate

In [ ]:
#remove all duplicate rows
df.drop_duplicates(inplace=True)


#print the number of rows after removing duplicates
print(f" ðŸ“Š Number of rows after removing duplicates: {len(df)}")

df

Standerdise the data for when uploading to DBeaver.

Convert the Carbon Dioxide emission columns from grams to kilograms

In [ ]:
#Convert CO2 emission columns from grams to kilograms
#1 Kg = 1000 grams

df['co2_emissions'] = df['co2_emissions'] / 1000

#Convert the average co2 emission column from grams to kilograms
df['avg_co2_emission_for_this_route'] = df['avg_co2_emission_for_this_route'] / 1000

df.head(4)

# Drop columns

In [ ]:
# Drop the from_country_code column if it exists

if 'from_country_code' in df.columns:
    df.drop(columns=['from_country_code'], inplace=True)
 
#Display the result

df.head(10)

Drop the airport code column, leaving just countries from and to.

In [ ]:
df = df.drop(columns=["from_airport_code"], errors="ignore")

df