In [1]:
# Install missing packages
%pip install pandas numpy

#Import necessary libraries

import sys as sys

import pandas
import numpy as np

print("pandas", pandas.__version__)
print("numpy", np.__version__)

Requirement already satisfied: pandas in c:\users\student\digital_futures\abdullah-capstone-project\my-capstone-etl-project\.venv\lib\site-packages (2.3.2)
Requirement already satisfied: numpy in c:\users\student\digital_futures\abdullah-capstone-project\my-capstone-etl-project\.venv\lib\site-packages (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\student\digital_futures\abdullah-capstone-project\my-capstone-etl-project\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\student\digital_futures\abdullah-capstone-project\my-capstone-etl-project\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\student\digital_futures\abdullah-capstone-project\my-capstone-etl-project\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\student\digital_futures\abdullah-capstone-project\my-capstone-etl-project\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

pandas 2.3.2
numpy 2.3.2

Load the Data frame of the CSV file and display a few rows from the file

In [2]:
# Load the CSV file from the data/raw directory
df = pandas.read_csv("../data/raw/global_flights_data.csv")

df.head()

,from_airport_code,from_country,dest_country,aircraft_type,airline_name,flight_number,departure_time,arrival_time,duration,stops,price,co2_emissions,avg_co2_emission_for_this_route,co2_percentage
0,BRU,Belgium,Spain,Airbus A319|ATR 72|Airbus A319,[Brussels Airlines| Tap Air Portugal],SN3809|SN3809|SN3809,27/08/2022 14:40,28/08/2022 00:20,580,2,269.45,338000.0,149000.0,127%
1,XIY,China,China,Airbus A321|Boeing 737,[China Eastern| Shanghai Airlines],MU2155|MU2155,15/05/2022 11:00,15/05/2022 16:30,330,1,540.60,284000.0,NaN,NaN
2,MUC,Germany,Canada,Airbus A320|Embraer 195|Boeing 787,[Lufthansa| LOT],LH1622|LH1622|LH1622,30/05/2022 11:20,30/05/2022 20:15,895,2,767.55,684000.0,656000.0,4%
3,HGH,China,United States,Airbus A321neo|Airbus A350|Boeing 737|De Havil...,[Cathay Pacific| Alaska],CX959|CX959|CX959|CX959,30/05/2022 11:25,31/05/2022 20:29,2884,3,2198.10,1133000.0,1119000.0,1%
4,BOM,India,Thailand,Airbus A320|Airbus A320,[IndiGo],6E2518|6E2518,07/05/2022 20:35,08/05/2022 11:20,795,1,194.65,412000.0,340000.0,20%

In [3]:
# Display DataFrame information and structure
print("DataFrame Shape:", df.shape)
print("\nColumn Names:")
print(df.columns.tolist())
print("\nData Types:")
print(df.dtypes)
print("\nFirst 5 rows:")
print(df.head())
print("\nDataFrame Info:")
df.info()

DataFrame Shape: (250000, 14)

Column Names:
['from_airport_code', 'from_country', 'dest_country', 'aircraft_type', 'airline_name', 'flight_number', 'departure_time', 'arrival_time', 'duration', 'stops', 'price', 'co2_emissions', 'avg_co2_emission_for_this_route', 'co2_percentage']

Data Types:
from_airport_code                   object
from_country                        object
dest_country                        object
aircraft_type                       object
airline_name                        object
flight_number                       object
departure_time                      object
arrival_time                        object
duration                             int64
stops                                int64
price                              float64
co2_emissions                      float64
avg_co2_emission_for_this_route    float64
co2_percentage                      object
dtype: object

First 5 rows:
  from_airport_code from_country   dest_country  \
0               BRU      Belgium          Spain
1               XIY        China          China
2               MUC      Germany         Canada
3               HGH        China  United States
4               BOM        India       Thailand

                                       aircraft_type  \
0                     Airbus A319|ATR 72|Airbus A319
1                             Airbus A321|Boeing 737
2                 Airbus A320|Embraer 195|Boeing 787
3  Airbus A321neo|Airbus A350|Boeing 737|De Havil...
4                            Airbus A320|Airbus A320

                            airline_name            flight_number  \
0  [Brussels Airlines| Tap Air Portugal]     SN3809|SN3809|SN3809
1     [China Eastern| Shanghai Airlines]            MU2155|MU2155
2                       [Lufthansa| LOT]     LH1622|LH1622|LH1622
3               [Cathay Pacific| Alaska]  CX959|CX959|CX959|CX959
4                               [IndiGo]            6E2518|6E2518

     departure_time      arrival_time  duration  stops    price  \
0  27/08/2022 14:40  28/08/2022 00:20       580      2   269.45
1  15/05/2022 11:00  15/05/2022 16:30       330      1   540.60
2  30/05/2022 11:20  30/05/2022 20:15       895      2   767.55
3  30/05/2022 11:25  31/05/2022 20:29      2884      3  2198.10
4  07/05/2022 20:35  08/05/2022 11:20       795      1   194.65

   co2_emissions  avg_co2_emission_for_this_route co2_percentage
0       338000.0                         149000.0           127%
1       284000.0                              NaN            NaN
2       684000.0                         656000.0             4%
3      1133000.0                        1119000.0             1%
4       412000.0                         340000.0            20%

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 14 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   from_airport_code                250000 non-null  object
 1   from_country                     250000 non-null  object
 2   dest_country                     250000 non-null  object
 3   aircraft_type                    246441 non-null  object
 4   airline_name                     250000 non-null  object
 5   flight_number                    250000 non-null  object
 6   departure_time                   250000 non-null  object
 7   arrival_time                     250000 non-null  object
 8   duration                         250000 non-null  int64
 9   stops                            250000 non-null  int64
 10  price                            249644 non-null  float64
 11  co2_emissions                    248795 non-null  float64
 12  avg_co2_emission_for_this_route  227837 non-null  float64
 13  co2_percentage                   227837 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 26.7+ MB

Display missing values in the dataset and represent this as s percentage of missing values within the entire datset for every column.

In [5]:
#For better display print a title of the output on top part of code

print("Missing Values in the Dataset:")
print ("=" * 30)



#Print total percentage of rows with missing values
total_rows = len(df)
total_missing = df.isna().sum().sum()
total_pct = (total_missing / (total_rows * len(df.columns))) * 100
print(f"Total: {total_missing:,} missing cells ({total_pct:.2f}%)")

Missing Values in the Dataset:
==============================
Total: 49,446 missing cells (1.41%)

In [6]:
#Remove missing values from the dataset
df = df.dropna()

total_missing = df.isna().sum().sum()

print(total_missing)

0

Convert the current ticket prices to Great British Pounds from US Dollars

In [7]:
# Convert the price to GBP with currency values in 2022
df['price'] = df['price'] * 0.85

df = df.round(2) #Rounds the final prices to 2 decimal places, eg ---> £145.47

df.head(10)

,from_airport_code,from_country,dest_country,aircraft_type,airline_name,flight_number,departure_time,arrival_time,duration,stops,price,co2_emissions,avg_co2_emission_for_this_route,co2_percentage
0,BRU,Belgium,Spain,Airbus A319|ATR 72|Airbus A319,[Brussels Airlines| Tap Air Portugal],SN3809|SN3809|SN3809,27/08/2022 14:40,28/08/2022 00:20,580,2,229.03,338000.0,149000.0,127%
2,MUC,Germany,Canada,Airbus A320|Embraer 195|Boeing 787,[Lufthansa| LOT],LH1622|LH1622|LH1622,30/05/2022 11:20,30/05/2022 20:15,895,2,652.42,684000.0,656000.0,4%
3,HGH,China,United States,Airbus A321neo|Airbus A350|Boeing 737|De Havil...,[Cathay Pacific| Alaska],CX959|CX959|CX959|CX959,30/05/2022 11:25,31/05/2022 20:29,2884,3,1868.38,1133000.0,1119000.0,1%
4,BOM,India,Thailand,Airbus A320|Airbus A320,[IndiGo],6E2518|6E2518,07/05/2022 20:35,08/05/2022 11:20,795,1,165.45,412000.0,340000.0,20%
6,YYZ,Canada,Japan,Embraer 175|Boeing 777,[American| JAL],AA4827|AA4827,02/05/2022 06:45,03/05/2022 16:35,1250,1,690.71,1367000.0,1250000.0,9%
7,MEL,Australia,United States,Boeing 737|Airbus A380|Boeing 787,[Qantas| American],QF414|QF414|QF414,28/07/2022 07:30,28/07/2022 21:35,1685,2,947.20,1875000.0,1625000.0,15%
8,MUC,Germany,United Kingdom,Airbus A319|Airbus A320,[Iberia],IB3195|IB3195,15/05/2022 07:30,15/05/2022 20:00,810,1,204.47,338000.0,91000.0,269%
9,YYZ,Canada,Indonesia,Boeing 787|Boeing 787|Boeing 787,[Air Canada| Etihad],AC826|AC826|AC826,02/05/2022 21:15,04/05/2022 14:35,1820,2,2509.24,1590000.0,1877000.0,-15%
10,SYD,Australia,Netherlands,Airbus A380|Airbus A380|Airbus A320,[Qantas| British Airways],QF1|QF1|QF1,27/08/2022 15:55,28/08/2022 14:05,1810,2,916.13,2016000.0,1837000.0,9%
11,CPH,Denmark,United Kingdom,Airbus A320|Airbus A321|Airbus A320neo,[Lufthansa],LH2447|LH2447|LH2447,03/05/2022 06:10,03/05/2022 14:40,570,2,253.60,235000.0,120000.0,96%

Identify any duplicate values in the rows

In [8]:
#Find duplicate rows in the dataset
duplicate_rows = df[df.duplicated()]

#show the number of duplicate rows found
print(f"Number of duplicate rows found: {len(duplicate_rows)}")


#Display the results
print("Duplicate Rows in the Dataset:")
print("=" * 50)
print(duplicate_rows)

Number of duplicate rows found: 3613
Duplicate Rows in the Dataset:
==================================================
       from_airport_code from_country   dest_country  \
2843                 CPH      Denmark      Singapore
5107                 BOG     Columbia    Philippines
5160                 SCL        Chile  United States
9025                 CAI        Egypt      Argentina
9266                 CNF       Brazil          Chile
...                  ...          ...            ...
249807               SCL        Chile      Australia
249870               ATH       Greece         Canada
249883               CPH      Denmark  United States
249947               YYZ       Canada       Columbia
249996               VCP       Brazil  United States

                                          aircraft_type  \
2843             Airbus A320neo|Airbus A319|Airbus A350
5107        Boeing 737|Boeing 737|Boeing 777|Boeing 787
5160                Airbus A320|Airbus A320|Airbus A320
9025      Boeing 737|Airbus A321|Boeing 777|Airbus A320
9266    Airbus A320|Airbus A319|Airbus A321|Airbus A320
...                                                 ...
249807     Boeing 787|Boeing 737|Airbus A321|Boeing 787
249870           Airbus A321neo|Airbus A319|Airbus A350
249883               Boeing 737|Airbus A350|Airbus A321
249947               Airbus A319|Boeing 737|Airbus A319
249996                Airbus A330|Boeing 737|Boeing 737

                           airline_name                flight_number  \
2843    [Lufthansa| Singapore Airlines]         LH2439|LH2439|LH2439
5107                      [United| ANA]      UA508|UA508|UA508|UA508
5160                 [Avianca| JetBlue]            AV116|AV116|AV116
9025       [EgyptAir| Lufthansa| LATAM]      MS731|MS731|MS731|MS731
9266                            [LATAM]  LA3821|LA3821|LA3821|LA3821
...                                 ...                          ...
249807   [Aeromexico| American| Qantas]          AM11|AM11|AM11|AM11
249870                      [Lufthansa]         LH1285|LH1285|LH1285
249883                     [KLM| Delta]         KL1124|KL1124|KL1124
249947                       [American]         AA1720|AA1720|AA1720
249996                   [Azul| United]         AD8706|AD8706|AD8706

          departure_time      arrival_time  duration  stops    price  \
2843    01/05/2022 08:50  02/05/2022 16:25      1535      2  1277.38
5107    01/05/2022 07:30  03/05/2022 13:30      2460      3  2498.41
5160    15/05/2022 15:05  16/05/2022 19:02      1677      2   393.76
9025    28/08/2022 10:35  29/08/2022 10:15      1720      3   832.32
9266    02/05/2022 18:15  03/05/2022 21:21      1686      3   468.18
...                  ...               ...       ...    ...      ...
249807  29/05/2022 21:25  01/06/2022 06:00      2555      3  3723.76
249870  01/05/2022 06:55  01/05/2022 18:30      1115      2  1184.18
249883  07/05/2022 06:00  07/05/2022 20:52      1252      2   734.06
249947  30/04/2022 11:44  01/05/2022 00:20       816      2   291.89
249996  29/05/2022 09:50  30/05/2022 23:39      2329      2  2360.41

        co2_emissions  avg_co2_emission_for_this_route co2_percentage
2843        1535000.0                        1159000.0            32%
5107        2106000.0                        1990000.0             5%
5160         769000.0                         695000.0            10%
9025        1640000.0                        1453000.0            12%
9266         489000.0                         439000.0            11%
...               ...                              ...            ...
249807      2141000.0                        1298000.0            64%
249870       743000.0                         828000.0           -10%
249883       742000.0                         774000.0            -4%
249947       590000.0                         569000.0             3%
249996      1156000.0                         705000.0            64%

[3613 rows x 14 columns]

Remove rows which are completely duplicate

In [9]:
#remove all duplicate rows
df.drop_duplicates(inplace=True)


#print the number of rows after removing duplicates
print(f" 📊 Number of rows after removing duplicates: {len(df)}")

df

 📊 Number of rows after removing duplicates: 219672

,from_airport_code,from_country,dest_country,aircraft_type,airline_name,flight_number,departure_time,arrival_time,duration,stops,price,co2_emissions,avg_co2_emission_for_this_route,co2_percentage
0,BRU,Belgium,Spain,Airbus A319|ATR 72|Airbus A319,[Brussels Airlines| Tap Air Portugal],SN3809|SN3809|SN3809,27/08/2022 14:40,28/08/2022 00:20,580,2,229.03,338000.0,149000.0,127%
2,MUC,Germany,Canada,Airbus A320|Embraer 195|Boeing 787,[Lufthansa| LOT],LH1622|LH1622|LH1622,30/05/2022 11:20,30/05/2022 20:15,895,2,652.42,684000.0,656000.0,4%
3,HGH,China,United States,Airbus A321neo|Airbus A350|Boeing 737|De Havil...,[Cathay Pacific| Alaska],CX959|CX959|CX959|CX959,30/05/2022 11:25,31/05/2022 20:29,2884,3,1868.38,1133000.0,1119000.0,1%
4,BOM,India,Thailand,Airbus A320|Airbus A320,[IndiGo],6E2518|6E2518,07/05/2022 20:35,08/05/2022 11:20,795,1,165.45,412000.0,340000.0,20%
6,YYZ,Canada,Japan,Embraer 175|Boeing 777,[American| JAL],AA4827|AA4827,02/05/2022 06:45,03/05/2022 16:35,1250,1,690.71,1367000.0,1250000.0,9%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249992,BOM,India,India,Airbus A320|Airbus A320,[Vistara],UK849|UK849,01/05/2022 17:30,02/05/2022 18:55,1525,1,163.28,308000.0,142000.0,117%
249993,BOG,Columbia,Thailand,Airbus A320|Boeing 777|Boeing 777,[Avianca| United| THAI],AV246|AV246|AV246,03/05/2022 07:50,05/05/2022 06:00,2050,2,3455.72,2302000.0,1913000.0,20%
249994,CAN,China,United Kingdom,Boeing 737|Airbus A330|Airbus A320,[Hainan| Brussels Airlines],HU7812|HU7812|HU7812,07/05/2022 15:00,09/05/2022 17:05,3425,2,340.30,1068000.0,1213000.0,-11%
249995,SCL,Chile,Japan,Boeing 787|Boeing 737|Boeing 777,[American| JAL],AA912|AA912|AA912,15/05/2022 22:15,18/05/2022 15:35,3140,2,2923.23,2078000.0,1921000.0,8%
249999,CAI,Egypt,Belgium,Airbus A320|Airbus A320,[ITA],AZ897|AZ897,30/05/2022 17:00,31/05/2022 10:45,1065,1,246.37,436000.0,362000.0,20%

Standerdise the data for when uploading to DBeaver.

Convert the Carbon Dioxide emission columns from grams to kilograms

In [10]:
#Convert CO2 emission columns from grams to kilograms
#1 Kg = 1000 grams

df['co2_emissions'] = df['co2_emissions'] / 1000

#Convert the average co2 emission column from grams to kilograms
df['avg_co2_emission_for_this_route'] = df['avg_co2_emission_for_this_route'] / 1000

df.head(4)

,from_airport_code,from_country,dest_country,aircraft_type,airline_name,flight_number,departure_time,arrival_time,duration,stops,price,co2_emissions,avg_co2_emission_for_this_route,co2_percentage
0,BRU,Belgium,Spain,Airbus A319|ATR 72|Airbus A319,[Brussels Airlines| Tap Air Portugal],SN3809|SN3809|SN3809,27/08/2022 14:40,28/08/2022 00:20,580,2,229.03,338.0,149.0,127%
2,MUC,Germany,Canada,Airbus A320|Embraer 195|Boeing 787,[Lufthansa| LOT],LH1622|LH1622|LH1622,30/05/2022 11:20,30/05/2022 20:15,895,2,652.42,684.0,656.0,4%
3,HGH,China,United States,Airbus A321neo|Airbus A350|Boeing 737|De Havil...,[Cathay Pacific| Alaska],CX959|CX959|CX959|CX959,30/05/2022 11:25,31/05/2022 20:29,2884,3,1868.38,1133.0,1119.0,1%
4,BOM,India,Thailand,Airbus A320|Airbus A320,[IndiGo],6E2518|6E2518,07/05/2022 20:35,08/05/2022 11:20,795,1,165.45,412.0,340.0,20%

# Drop columns

In [11]:
# Drop the from_country_code column if it exists

if 'from_country_code' in df.columns:
    df.drop(columns=['from_country_code'], inplace=True)
 
#Display the result

df.head(10)

,from_airport_code,from_country,dest_country,aircraft_type,airline_name,flight_number,departure_time,arrival_time,duration,stops,price,co2_emissions,avg_co2_emission_for_this_route,co2_percentage
0,BRU,Belgium,Spain,Airbus A319|ATR 72|Airbus A319,[Brussels Airlines| Tap Air Portugal],SN3809|SN3809|SN3809,27/08/2022 14:40,28/08/2022 00:20,580,2,229.03,338.0,149.0,127%
2,MUC,Germany,Canada,Airbus A320|Embraer 195|Boeing 787,[Lufthansa| LOT],LH1622|LH1622|LH1622,30/05/2022 11:20,30/05/2022 20:15,895,2,652.42,684.0,656.0,4%
3,HGH,China,United States,Airbus A321neo|Airbus A350|Boeing 737|De Havil...,[Cathay Pacific| Alaska],CX959|CX959|CX959|CX959,30/05/2022 11:25,31/05/2022 20:29,2884,3,1868.38,1133.0,1119.0,1%
4,BOM,India,Thailand,Airbus A320|Airbus A320,[IndiGo],6E2518|6E2518,07/05/2022 20:35,08/05/2022 11:20,795,1,165.45,412.0,340.0,20%
6,YYZ,Canada,Japan,Embraer 175|Boeing 777,[American| JAL],AA4827|AA4827,02/05/2022 06:45,03/05/2022 16:35,1250,1,690.71,1367.0,1250.0,9%
7,MEL,Australia,United States,Boeing 737|Airbus A380|Boeing 787,[Qantas| American],QF414|QF414|QF414,28/07/2022 07:30,28/07/2022 21:35,1685,2,947.20,1875.0,1625.0,15%
8,MUC,Germany,United Kingdom,Airbus A319|Airbus A320,[Iberia],IB3195|IB3195,15/05/2022 07:30,15/05/2022 20:00,810,1,204.47,338.0,91.0,269%
9,YYZ,Canada,Indonesia,Boeing 787|Boeing 787|Boeing 787,[Air Canada| Etihad],AC826|AC826|AC826,02/05/2022 21:15,04/05/2022 14:35,1820,2,2509.24,1590.0,1877.0,-15%
10,SYD,Australia,Netherlands,Airbus A380|Airbus A380|Airbus A320,[Qantas| British Airways],QF1|QF1|QF1,27/08/2022 15:55,28/08/2022 14:05,1810,2,916.13,2016.0,1837.0,9%
11,CPH,Denmark,United Kingdom,Airbus A320|Airbus A321|Airbus A320neo,[Lufthansa],LH2447|LH2447|LH2447,03/05/2022 06:10,03/05/2022 14:40,570,2,253.60,235.0,120.0,96%

Drop the airport code column, leaving just countries from and to.

In [12]:
df = df.drop(columns=["from_airport_code"], errors="ignore")

df

,from_country,dest_country,aircraft_type,airline_name,flight_number,departure_time,arrival_time,duration,stops,price,co2_emissions,avg_co2_emission_for_this_route,co2_percentage
0,Belgium,Spain,Airbus A319|ATR 72|Airbus A319,[Brussels Airlines| Tap Air Portugal],SN3809|SN3809|SN3809,27/08/2022 14:40,28/08/2022 00:20,580,2,229.03,338.0,149.0,127%
2,Germany,Canada,Airbus A320|Embraer 195|Boeing 787,[Lufthansa| LOT],LH1622|LH1622|LH1622,30/05/2022 11:20,30/05/2022 20:15,895,2,652.42,684.0,656.0,4%
3,China,United States,Airbus A321neo|Airbus A350|Boeing 737|De Havil...,[Cathay Pacific| Alaska],CX959|CX959|CX959|CX959,30/05/2022 11:25,31/05/2022 20:29,2884,3,1868.38,1133.0,1119.0,1%
4,India,Thailand,Airbus A320|Airbus A320,[IndiGo],6E2518|6E2518,07/05/2022 20:35,08/05/2022 11:20,795,1,165.45,412.0,340.0,20%
6,Canada,Japan,Embraer 175|Boeing 777,[American| JAL],AA4827|AA4827,02/05/2022 06:45,03/05/2022 16:35,1250,1,690.71,1367.0,1250.0,9%
...,...,...,...,...,...,...,...,...,...,...,...,...,...
249992,India,India,Airbus A320|Airbus A320,[Vistara],UK849|UK849,01/05/2022 17:30,02/05/2022 18:55,1525,1,163.28,308.0,142.0,117%
249993,Columbia,Thailand,Airbus A320|Boeing 777|Boeing 777,[Avianca| United| THAI],AV246|AV246|AV246,03/05/2022 07:50,05/05/2022 06:00,2050,2,3455.72,2302.0,1913.0,20%
249994,China,United Kingdom,Boeing 737|Airbus A330|Airbus A320,[Hainan| Brussels Airlines],HU7812|HU7812|HU7812,07/05/2022 15:00,09/05/2022 17:05,3425,2,340.30,1068.0,1213.0,-11%
249995,Chile,Japan,Boeing 787|Boeing 737|Boeing 777,[American| JAL],AA912|AA912|AA912,15/05/2022 22:15,18/05/2022 15:35,3140,2,2923.23,2078.0,1921.0,8%
249999,Egypt,Belgium,Airbus A320|Airbus A320,[ITA],AZ897|AZ897,30/05/2022 17:00,31/05/2022 10:45,1065,1,246.37,436.0,362.0,20%

Load the new processed data frame and place this into data/processed path

In [13]:
# Save the cleaned DataFrame to a new CSV file in the data/processed directory
df.to_csv("../data/processed/cleaned_global_flights_data.csv", index=False)