In [5]:
#Import necessary libraries
%pip install country_converter
import sys as sys


import pandas
import numpy as np

print("pandas", pandas.__version__)
print("numpy", np.__version__)

Requirement already satisfied: country_converter in c:\users\student\appdata\local\programs\python\python313\lib\site-packages (1.3.1)
Requirement already satisfied: pandas>=1.0 in c:\users\student\appdata\local\programs\python\python313\lib\site-packages (from country_converter) (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\student\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.0->country_converter) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\student\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.0->country_converter) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\student\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.0->country_converter) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\student\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.0->country_converter) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\student\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.0->country_converter) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
pandas 2.2.3
numpy 2.1.3

Load the Data frame of the CSV file and display a few rows from the file

In [6]:
# Load the CSV file from the data/raw directory
df = pandas.read_csv("../data/raw/global_flights_data.csv")

df.head()

C:\Users\Student\AppData\Local\Temp\ipykernel_9748\2416574476.py:2: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pandas.read_csv("../data/raw/global_flights_data.csv")

,from_airport_code,from_country,dest_airport_code,dest_country,aircraft_type,airline_number,airline_name,flight_number,departure_time,arrival_time,duration,stops,price,currency,co2_emissions,avg_co2_emission_for_this_route,co2_percentage,scan_date,Unnamed: 18,Unnamed: 19
0,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...,multi,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,30/04/2022 14:30,01/05/2022 10:15,1425,3,1279.0,USD,1320000.0,1320000.0,0%,29/04/2022 17:52,NaN,NaN
1,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Boeing 787|Airbus...,multi,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,30/04/2022 14:30,01/05/2022 10:15,1425,3,1279.0,USD,1195000.0,1320000.0,-9%,29/04/2022 17:52,NaN,NaN
2,ALG,Algeria,AEP,Argentina,Airbus A320|Airbus A321|Boeing 787|Airbus A320,multi,[Air France| LATAM],AF1855|AF1855|AF1855|AF1855,30/04/2022 12:45,01/05/2022 10:15,1530,3,1284.0,USD,1248000.0,1320000.0,-5%,29/04/2022 17:52,NaN,NaN
3,ALG,Algeria,AEP,Argentina,Airbus A318|Airbus A320|Boeing 787|Airbus A320,multi,[Air France| LATAM],AF1491|AF1491|AF1491|AF1491,30/04/2022 14:30,01/05/2022 10:15,1425,3,1290.0,USD,1347000.0,1320000.0,2%,29/04/2022 17:52,NaN,NaN
4,ALG,Algeria,AEP,Argentina,Airbus A321neo|Boeing 777|Airbus A320,multi,[Lufthansa| LATAM],LH1317|LH1317|LH1317,30/04/2022 12:35,01/05/2022 10:15,1540,2,1347.0,USD,1381000.0,1320000.0,4%,29/04/2022 17:52,NaN,NaN

In [7]:
# Display DataFrame information and structure
print("DataFrame Shape:", df.shape)
print("\nColumn Names:")
print(df.columns.tolist())
print("\nData Types:")
print(df.dtypes)
print("\nFirst 5 rows:")
print(df.head())
print("\nDataFrame Info:")
df.info()

DataFrame Shape: (998866, 20)

Column Names:
['from_airport_code', 'from_country', 'dest_airport_code', 'dest_country', 'aircraft_type', 'airline_number', 'airline_name', 'flight_number', 'departure_time', 'arrival_time', 'duration', 'stops', 'price', 'currency', 'co2_emissions', 'avg_co2_emission_for_this_route', 'co2_percentage', 'scan_date', 'Unnamed: 18', 'Unnamed: 19']

Data Types:
from_airport_code                   object
from_country                        object
dest_airport_code                   object
dest_country                        object
aircraft_type                       object
airline_number                      object
airline_name                        object
flight_number                       object
departure_time                      object
arrival_time                        object
duration                             int64
stops                                int64
price                              float64
currency                            object
co2_emissions                      float64
avg_co2_emission_for_this_route    float64
co2_percentage                      object
scan_date                           object
Unnamed: 18                        float64
Unnamed: 19                         object
dtype: object

First 5 rows:
  from_airport_code from_country dest_airport_code dest_country  \
0               ALG      Algeria               AEP    Argentina
1               ALG      Algeria               AEP    Argentina
2               ALG      Algeria               AEP    Argentina
3               ALG      Algeria               AEP    Argentina
4               ALG      Algeria               AEP    Argentina

                                       aircraft_type airline_number  \
0  Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...          multi
1  Airbus A318|Canadair RJ 1000|Boeing 787|Airbus...          multi
2     Airbus A320|Airbus A321|Boeing 787|Airbus A320          multi
3     Airbus A318|Airbus A320|Boeing 787|Airbus A320          multi
4              Airbus A321neo|Boeing 777|Airbus A320          multi

                  airline_name                flight_number    departure_time  \
0  [Air France| Iberia| LATAM]  AF1491|AF1491|AF1491|AF1491  30/04/2022 14:30
1  [Air France| Iberia| LATAM]  AF1491|AF1491|AF1491|AF1491  30/04/2022 14:30
2          [Air France| LATAM]  AF1855|AF1855|AF1855|AF1855  30/04/2022 12:45
3          [Air France| LATAM]  AF1491|AF1491|AF1491|AF1491  30/04/2022 14:30
4           [Lufthansa| LATAM]         LH1317|LH1317|LH1317  30/04/2022 12:35

       arrival_time  duration  stops   price currency  co2_emissions  \
0  01/05/2022 10:15      1425      3  1279.0      USD      1320000.0
1  01/05/2022 10:15      1425      3  1279.0      USD      1195000.0
2  01/05/2022 10:15      1530      3  1284.0      USD      1248000.0
3  01/05/2022 10:15      1425      3  1290.0      USD      1347000.0
4  01/05/2022 10:15      1540      2  1347.0      USD      1381000.0

   avg_co2_emission_for_this_route co2_percentage         scan_date  \
0                        1320000.0             0%  29/04/2022 17:52
1                        1320000.0            -9%  29/04/2022 17:52
2                        1320000.0            -5%  29/04/2022 17:52
3                        1320000.0             2%  29/04/2022 17:52
4                        1320000.0             4%  29/04/2022 17:52

   Unnamed: 18 Unnamed: 19
0          NaN         NaN
1          NaN         NaN
2          NaN         NaN
3          NaN         NaN
4          NaN         NaN

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998866 entries, 0 to 998865
Data columns (total 20 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   from_airport_code                998866 non-null  object
 1   from_country                     998866 non-null  object
 2   dest_airport_code                998866 non-null  object
 3   dest_country                     998866 non-null  object
 4   aircraft_type                    984952 non-null  object
 5   airline_number                   998866 non-null  object
 6   airline_name                     998866 non-null  object
 7   flight_number                    998866 non-null  object
 8   departure_time                   998866 non-null  object
 9   arrival_time                     998866 non-null  object
 10  duration                         998866 non-null  int64
 11  stops                            998866 non-null  int64
 12  price                            997513 non-null  float64
 13  currency                         998866 non-null  object
 14  co2_emissions                    993998 non-null  float64
 15  avg_co2_emission_for_this_route  910464 non-null  float64
 16  co2_percentage                   910464 non-null  object
 17  scan_date                        998866 non-null  object
 18  Unnamed: 18                      0 non-null       float64
 19  Unnamed: 19                      2 non-null       object
dtypes: float64(4), int64(2), object(14)
memory usage: 152.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998866 entries, 0 to 998865
Data columns (total 20 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   from_airport_code                998866 non-null  object
 1   from_country                     998866 non-null  object
 2   dest_airport_code                998866 non-null  object
 3   dest_country                     998866 non-null  object
 4   aircraft_type                    984952 non-null  object
 5   airline_number                   998866 non-null  object
 6   airline_name                     998866 non-null  object
 7   flight_number                    998866 non-null  object
 8   departure_time                   998866 non-null  object
 9   arrival_time                     998866 non-null  object
 10  duration                         998866 non-null  int64
 11  stops                            998866 non-null  int64
 12  price                            997513 non-null  float64
 13  currency                         998866 non-null  object
 14  co2_emissions                    993998 non-null  float64
 15  avg_co2_emission_for_this_route  910464 non-null  float64
 16  co2_percentage                   910464 non-null  object
 17  scan_date                        998866 non-null  object
 18  Unnamed: 18                      0 non-null       float64
 19  Unnamed: 19                      2 non-null       object
dtypes: float64(4), int64(2), object(14)
memory usage: 152.4+ MB

Display missing values in the dataset and represent this as s percentage of missing values within the entire datset for every column.

In [8]:
#For better display print a title of the output on top part of code

print("Missing Values in the Dataset:")
print ("=" * 30)

total_rows = len(df)
for col in df.columns:
    n_missing = df[col].isna().sum()
    pct = (n_missing / total_rows * 100) if total_rows else 0
    print(f"{col}: {n_missing:,} missing ({pct:.2f}%)")

#Print total percentage of rows with missing values
total_missing = df.isna().sum().sum()
total_pct = (total_missing / (total_rows * len(df.columns))) * 100
print(f"Total: {total_missing:,} missing cells ({total_pct:.2f}%)")

Missing Values in the Dataset:
==============================
from_airport_code: 0 missing (0.00%)
from_country: 0 missing (0.00%)
dest_airport_code: 0 missing (0.00%)
dest_country: 0 missing (0.00%)
aircraft_type: 13,914 missing (1.39%)
airline_number: 0 missing (0.00%)
airline_name: 0 missing (0.00%)
flight_number: 0 missing (0.00%)
departure_time: 0 missing (0.00%)
arrival_time: 0 missing (0.00%)
duration: 0 missing (0.00%)
stops: 0 missing (0.00%)
price: 1,353 missing (0.14%)
airline_number: 0 missing (0.00%)
airline_name: 0 missing (0.00%)
flight_number: 0 missing (0.00%)
departure_time: 0 missing (0.00%)
arrival_time: 0 missing (0.00%)
duration: 0 missing (0.00%)
stops: 0 missing (0.00%)
price: 1,353 missing (0.14%)
currency: 0 missing (0.00%)
co2_emissions: 4,868 missing (0.49%)
avg_co2_emission_for_this_route: 88,402 missing (8.85%)
co2_percentage: 88,402 missing (8.85%)
scan_date: 0 missing (0.00%)
Unnamed: 18: 998,866 missing (100.00%)
Unnamed: 19: 998,864 missing (100.00%)
currency: 0 missing (0.00%)
co2_emissions: 4,868 missing (0.49%)
avg_co2_emission_for_this_route: 88,402 missing (8.85%)
co2_percentage: 88,402 missing (8.85%)
scan_date: 0 missing (0.00%)
Unnamed: 18: 998,866 missing (100.00%)
Unnamed: 19: 998,864 missing (100.00%)
Total: 2,194,669 missing cells (10.99%)
Total: 2,194,669 missing cells (10.99%)

Convert the current ticket prices to Great British Pounds from US Dollars

In [9]:
# Convert the currency to GBP with currency in 2022
df['price'] = df['price'] * 0.85

df.head(10)

,from_airport_code,from_country,dest_airport_code,dest_country,aircraft_type,airline_number,airline_name,flight_number,departure_time,arrival_time,duration,stops,price,currency,co2_emissions,avg_co2_emission_for_this_route,co2_percentage,scan_date,Unnamed: 18,Unnamed: 19
0,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...,multi,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,30/04/2022 14:30,01/05/2022 10:15,1425,3,1087.15,USD,1320000.0,1320000.0,0%,29/04/2022 17:52,NaN,NaN
1,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Boeing 787|Airbus...,multi,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,30/04/2022 14:30,01/05/2022 10:15,1425,3,1087.15,USD,1195000.0,1320000.0,-9%,29/04/2022 17:52,NaN,NaN
2,ALG,Algeria,AEP,Argentina,Airbus A320|Airbus A321|Boeing 787|Airbus A320,multi,[Air France| LATAM],AF1855|AF1855|AF1855|AF1855,30/04/2022 12:45,01/05/2022 10:15,1530,3,1091.40,USD,1248000.0,1320000.0,-5%,29/04/2022 17:52,NaN,NaN
3,ALG,Algeria,AEP,Argentina,Airbus A318|Airbus A320|Boeing 787|Airbus A320,multi,[Air France| LATAM],AF1491|AF1491|AF1491|AF1491,30/04/2022 14:30,01/05/2022 10:15,1425,3,1096.50,USD,1347000.0,1320000.0,2%,29/04/2022 17:52,NaN,NaN
4,ALG,Algeria,AEP,Argentina,Airbus A321neo|Boeing 777|Airbus A320,multi,[Lufthansa| LATAM],LH1317|LH1317|LH1317,30/04/2022 12:35,01/05/2022 10:15,1540,2,1144.95,USD,1381000.0,1320000.0,4%,29/04/2022 17:52,NaN,NaN
5,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...,multi,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,30/04/2022 14:30,01/05/2022 16:50,1820,3,1087.15,USD,1320000.0,1320000.0,0%,29/04/2022 17:52,NaN,Brazil
6,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Boeing 787|Airbus...,multi,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,30/04/2022 14:30,01/05/2022 16:50,1820,3,1087.15,USD,1195000.0,1320000.0,-9%,29/04/2022 17:52,NaN,NaN
7,ALG,Algeria,AEP,Argentina,Airbus A320|Airbus A321|Airbus A330|Airbus A320,multi,[Air France| Iberia| LATAM],AF1855|AF1855|AF1855|AF1855,30/04/2022 12:45,01/05/2022 10:15,1530,3,1091.40,USD,1373000.0,1320000.0,4%,29/04/2022 17:52,NaN,Brazil
8,ALG,Algeria,AEP,Argentina,Airbus A320|Airbus A321|Airbus A330|Airbus A320,multi,[Air France| Iberia| LATAM],AF1855|AF1855|AF1855|AF1855,30/04/2022 12:45,01/05/2022 16:50,1925,3,1091.40,USD,1373000.0,1320000.0,4%,29/04/2022 17:52,NaN,NaN
9,ALG,Algeria,AEP,Argentina,Airbus A320|Airbus A321|Boeing 787|Airbus A320,multi,[Air France| LATAM],AF1855|AF1855|AF1855|AF1855,30/04/2022 12:45,01/05/2022 16:50,1925,3,1091.40,USD,1248000.0,1320000.0,-5%,29/04/2022 17:52,NaN,NaN

Identify any duplicate values in the rows

In [10]:
#Find duplicate rows in the dataset
duplicate_rows = df[df.duplicated()]

#show the number of duplicate rows found
print(f"Number of duplicate rows found: {len(duplicate_rows)}")


#Display the results
print("Duplicate Rows in the Dataset:")
print("=" * 50)
print(duplicate_rows)

Number of duplicate rows found: 51195
Duplicate Rows in the Dataset:
==================================================
       from_airport_code from_country dest_airport_code dest_country  \
55                   ALG      Algeria               AEP    Argentina
68                   ALG      Algeria               AEP    Argentina
116                  ALG      Algeria               MEL    Australia
123                  ALG      Algeria               AEP    Argentina
124                  ALG      Algeria               AEP    Argentina
...                  ...          ...               ...          ...
998748               BOM        India               BKK     Thailand
998755               BOM        India               BKK     Thailand
998792               BOM        India               BKK     Thailand
998794               BOM        India               BKK     Thailand
998795               BOM        India               BKK     Thailand

                                            aircraft_type airline_number  \
55      Airbus A321neo|Airbus A321|Boeing 767|Airbus A320          multi
68       Airbus A321neo|Boeing 747|Airbus A321|Boeing 737          multi
116     Airbus A321neo|Airbus A330|Airbus A321|Boeing 787          multi
123     Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...          multi
124     Airbus A318|Canadair RJ 1000|Boeing 787|Airbus...          multi
...                                                   ...            ...
998748                Airbus A320|Airbus A320|Airbus A320             UK
998755                 Boeing 737|Airbus A320|Airbus A320             UK
998792  Airbus A380|Boeing 737MAX 8 Passenger|Airbus A320          multi
998794  Airbus A380|Boeing 737MAX 8 Passenger|Airbus A320          multi
998795  Airbus A380|Boeing 737MAX 8 Passenger|Airbus A320          multi

                                     airline_name  \
55                             [Lufthansa| LATAM]
68      [Lufthansa| LATAM| Aerolineas Argentinas]
116                           [Lufthansa| Etihad]
123                   [Air France| Iberia| LATAM]
124                   [Air France| Iberia| LATAM]
...                                           ...
998748                                  [Vistara]
998755                                  [Vistara]
998792      [Singapore Airlines| Bangkok Airways]
998794      [Singapore Airlines| Bangkok Airways]
998795      [Singapore Airlines| Bangkok Airways]

                      flight_number    departure_time      arrival_time  \
55      LH1317|LH1317|LH1317|LH1317  30/04/2022 12:35  02/05/2022 10:25
68      LH1317|LH1317|LH1317|LH1317  30/04/2022 12:35  01/05/2022 21:50
116     LH1317|LH1317|LH1317|LH1317  30/04/2022 12:35  03/05/2022 05:45
123     AF1491|AF1491|AF1491|AF1491  30/04/2022 14:30  01/05/2022 10:15
124     AF1491|AF1491|AF1491|AF1491  30/04/2022 14:30  01/05/2022 10:15
...                             ...               ...               ...
998748            UK863|UK863|UK863  07/05/2022 09:05  08/05/2022 14:15
998755            UK775|UK775|UK775  07/05/2022 14:05  08/05/2022 14:15
998792            SQ423|SQ423|SQ423  07/05/2022 23:40  08/05/2022 16:10
998794            SQ423|SQ423|SQ423  07/05/2022 23:40  08/05/2022 20:40
998795            SQ423|SQ423|SQ423  07/05/2022 23:40  08/05/2022 20:40

        duration  stops    price currency  co2_emissions  \
55          2990      3  2289.05      USD      1436000.0
68          2235      3  3057.45      USD      1410000.0
116         3370      3  4875.60      USD      1758000.0
123         1425      3  1087.15      USD      1320000.0
124         1425      3  1087.15      USD      1195000.0
...          ...    ...      ...      ...            ...
998748      1660      2   313.65      USD       613000.0
998755      1360      2   323.85      USD       659000.0
998792       900      2   880.60      USD       702000.0
998794      1170      2   880.60      USD       702000.0
998795      1170      2   880.60      USD       702000.0

        avg_co2_emission_for_this_route co2_percentage         scan_date  \
55                            1320000.0             8%  29/04/2022 17:52
68                            1320000.0             6%  29/04/2022 17:52
116                                 NaN            NaN  29/04/2022 17:52
123                           1320000.0             0%  29/04/2022 17:52
124                           1320000.0            -9%  29/04/2022 17:52
...                                 ...            ...               ...
998748                         340000.0            80%  29/04/2022 17:52
998755                         340000.0            93%  29/04/2022 17:52
998792                         340000.0           106%  29/04/2022 17:52
998794                         340000.0           106%  29/04/2022 17:52
998795                         340000.0           106%  29/04/2022 17:52

        Unnamed: 18 Unnamed: 19
55              NaN         NaN
68              NaN         NaN
116             NaN         NaN
123             NaN         NaN
124             NaN         NaN
...             ...         ...
998748          NaN         NaN
998755          NaN         NaN
998792          NaN         NaN
998794          NaN         NaN
998795          NaN         NaN

[51195 rows x 20 columns]

Remove rows which are completely duplicate

In [11]:
#remove all duplicate rows
df.drop_duplicates(inplace=True)


#print the number of rows after removing duplicates
print(f" 📊 Number of rows after removing duplicates: {len(df)}")

 📊 Number of rows after removing duplicates: 947671

Standerdise the data for when uploading to DBeaver.

Convert the currency from USD to GBP

In [ ]:
print("🧹Currency Standardization")
print("=" * 40)

#Create a currency conversion from the year 2022
currency_conversion = {
    'USD': 0.85,  # 1 USD = 0.85 GBP
    'EUR': 0.88,  # 1 EUR = 0.88 GBP
    'GBP': 1.00,  # 1 GBP = 1 GBP
    'JPY': 0.0062,  # 1 JPY = 0.0062 GBP
    'AUD': 0.55,  # 1 AUD = 0.55 GBP
    'CAD': 0.60,  # 1 CAD = 0.60 GBP
    'CHF': 0.83,  # 1 CHF = 0.83 GBP
    'CNY': 0.11,  # 1 CNY = 0.11 GBP
    'INR': 0.010, # 1 INR = 0.010 GBP
    'BRL': 0.16   # 1 BRL = 0.16 GBP
}

# Apply currency conversion
if 'price' in df.columns and 'currency' in df.columns:
    # Store original price for reference
    df['original_price'] = df['price'].copy()
    
    # Apply conversion based on currency
    df['price'] = df.apply(lambda x: x['price'] * currency_conversion.get(x['currency'], 1), axis=1)
    df['currency'] = 'GBP'
    
    print(f"✅ Converted all prices to GBP using 2022 conversion rates")
    print(f"✅ Price range: £{df['price'].min():.2f} - £{df['price'].max():.2f}")
    print(f"✅ Average price: £{df['price'].mean():.2f}")
    
    # Show sample of converted data - This was fixed with the aid of AI
    print(f"\nSample of converted prices:")
    print(df[['original_price', 'price', 'currency']].head())
else:
    print("⚠️ Price or currency column not found in dataset")

# Display updated dataframe
df.head()

🧹Currency Standardization
========================================
✅ Converted all prices to GBP using 2022 conversion rates
✅ Price range: £6.50 - £24384.38
✅ Average price: £1256.75

Sample of converted prices:
   original_price     price currency
0         1087.15  924.0775      GBP
1         1087.15  924.0775      GBP
2         1091.40  927.6900      GBP
3         1096.50  932.0250      GBP
4         1144.95  973.2075      GBP
✅ Converted all prices to GBP using 2022 conversion rates
✅ Price range: £6.50 - £24384.38
✅ Average price: £1256.75

Sample of converted prices:
   original_price     price currency
0         1087.15  924.0775      GBP
1         1087.15  924.0775      GBP
2         1091.40  927.6900      GBP
3         1096.50  932.0250      GBP
4         1144.95  973.2075      GBP

,from_airport_code,from_country,dest_airport_code,dest_country,aircraft_type,airline_number,airline_name,flight_number,departure_time,arrival_time,...,stops,price,currency,co2_emissions,avg_co2_emission_for_this_route,co2_percentage,scan_date,Unnamed: 18,Unnamed: 19,original_price
0,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...,multi,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,30/04/2022 14:30,01/05/2022 10:15,...,3,924.0775,GBP,1320000.0,1320000.0,0%,29/04/2022 17:52,NaN,NaN,1087.15
1,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Boeing 787|Airbus...,multi,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,30/04/2022 14:30,01/05/2022 10:15,...,3,924.0775,GBP,1195000.0,1320000.0,-9%,29/04/2022 17:52,NaN,NaN,1087.15
2,ALG,Algeria,AEP,Argentina,Airbus A320|Airbus A321|Boeing 787|Airbus A320,multi,[Air France| LATAM],AF1855|AF1855|AF1855|AF1855,30/04/2022 12:45,01/05/2022 10:15,...,3,927.6900,GBP,1248000.0,1320000.0,-5%,29/04/2022 17:52,NaN,NaN,1091.40
3,ALG,Algeria,AEP,Argentina,Airbus A318|Airbus A320|Boeing 787|Airbus A320,multi,[Air France| LATAM],AF1491|AF1491|AF1491|AF1491,30/04/2022 14:30,01/05/2022 10:15,...,3,932.0250,GBP,1347000.0,1320000.0,2%,29/04/2022 17:52,NaN,NaN,1096.50
4,ALG,Algeria,AEP,Argentina,Airbus A321neo|Boeing 777|Airbus A320,multi,[Lufthansa| LATAM],LH1317|LH1317|LH1317,30/04/2022 12:35,01/05/2022 10:15,...,2,973.2075,GBP,1381000.0,1320000.0,4%,29/04/2022 17:52,NaN,NaN,1144.95

Convert the Carbon Dioxide emission columns from grams to kilograms

In [13]:
#Convert CO2 emission columns from grams to kilograms
#1 Kg = 1000 grams

df['co2_emissions'] = df['co2_emissions'] / 1000

#Convert the average co2 emission column from grams to kilograms
df['avg_co2_emission_for_this_route'] = df['avg_co2_emission_for_this_route'] / 1000

df.head(4)

,from_airport_code,from_country,dest_airport_code,dest_country,aircraft_type,airline_number,airline_name,flight_number,departure_time,arrival_time,...,stops,price,currency,co2_emissions,avg_co2_emission_for_this_route,co2_percentage,scan_date,Unnamed: 18,Unnamed: 19,original_price
0,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...,multi,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,30/04/2022 14:30,01/05/2022 10:15,...,3,924.0775,GBP,1320.0,1320.0,0%,29/04/2022 17:52,NaN,NaN,1087.15
1,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Boeing 787|Airbus...,multi,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,30/04/2022 14:30,01/05/2022 10:15,...,3,924.0775,GBP,1195.0,1320.0,-9%,29/04/2022 17:52,NaN,NaN,1087.15
2,ALG,Algeria,AEP,Argentina,Airbus A320|Airbus A321|Boeing 787|Airbus A320,multi,[Air France| LATAM],AF1855|AF1855|AF1855|AF1855,30/04/2022 12:45,01/05/2022 10:15,...,3,927.6900,GBP,1248.0,1320.0,-5%,29/04/2022 17:52,NaN,NaN,1091.40
3,ALG,Algeria,AEP,Argentina,Airbus A318|Airbus A320|Boeing 787|Airbus A320,multi,[Air France| LATAM],AF1491|AF1491|AF1491|AF1491,30/04/2022 14:30,01/05/2022 10:15,...,3,932.0250,GBP,1347.0,1320.0,2%,29/04/2022 17:52,NaN,NaN,1096.50

Merge airport code with country

In [14]:
#Merge the country code with country name
#df = df.copy()

#df["from_country_name"] = coco.convert(df["from_country"], to="name_short", not_found=None)
#df["from_iso2"]         = coco.convert(df["from_country"], to="ISO2",       not_found=None)
#df["from_iso3"]         = coco.convert(df["from_country"], to="ISO3",       not_found=None)

#df["dest_country_name"] = coco.convert(df["dest_country"], to="name_short", not_found=None)
#df["dest_iso2"]         = coco.convert(df["dest_country"], to="ISO2",       not_found=None)
#df["dest_iso3"]         = coco.convert(df["dest_country"], to="ISO3",       not_found=None)

# quick peek
#df[[
    #"from_country","from_country_name","from_iso2","from_iso3",
    #"dest_country","dest_country_name","dest_iso2","dest_iso3"
#]].head(10)

#ABOVE CODE WAS TRIED BUT DID NOT WORK BECAUSE IT TOOK LONG


# Define airport_lookup dictionary from a CSV file
# Make sure you have a file named 'airport_codes.csv' with columns 'code' and 'name'

df['from_location'] = df['from_country'].astype(str) + ' (' + df['from_airport_code'].astype(str) + ')'
df['dest_location'] = df['dest_country'].astype(str) + ' (' + df['dest_airport_code'].astype(str) + ')'

#display the new dataframe

df[['from_location', 'dest_location']].head(10)

   from_location    dest_location
0  Algeria (ALG)  Argentina (AEP)
1  Algeria (ALG)  Argentina (AEP)
2  Algeria (ALG)  Argentina (AEP)
3  Algeria (ALG)  Argentina (AEP)
4  Algeria (ALG)  Argentina (AEP)
5  Algeria (ALG)  Argentina (AEP)
6  Algeria (ALG)  Argentina (AEP)
7  Algeria (ALG)  Argentina (AEP)
8  Algeria (ALG)  Argentina (AEP)
9  Algeria (ALG)  Argentina (AEP)

Display the new dataframe for updates and review

In [15]:
df.head(10)

,from_airport_code,from_country,dest_airport_code,dest_country,aircraft_type,airline_number,airline_name,flight_number,departure_time,arrival_time,...,currency,co2_emissions,avg_co2_emission_for_this_route,co2_percentage,scan_date,Unnamed: 18,Unnamed: 19,original_price,from_location,dest_location
0,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...,multi,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,30/04/2022 14:30,01/05/2022 10:15,...,GBP,1320.0,1320.0,0%,29/04/2022 17:52,NaN,NaN,1087.15,Algeria (ALG),Argentina (AEP)
1,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Boeing 787|Airbus...,multi,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,30/04/2022 14:30,01/05/2022 10:15,...,GBP,1195.0,1320.0,-9%,29/04/2022 17:52,NaN,NaN,1087.15,Algeria (ALG),Argentina (AEP)
2,ALG,Algeria,AEP,Argentina,Airbus A320|Airbus A321|Boeing 787|Airbus A320,multi,[Air France| LATAM],AF1855|AF1855|AF1855|AF1855,30/04/2022 12:45,01/05/2022 10:15,...,GBP,1248.0,1320.0,-5%,29/04/2022 17:52,NaN,NaN,1091.40,Algeria (ALG),Argentina (AEP)
3,ALG,Algeria,AEP,Argentina,Airbus A318|Airbus A320|Boeing 787|Airbus A320,multi,[Air France| LATAM],AF1491|AF1491|AF1491|AF1491,30/04/2022 14:30,01/05/2022 10:15,...,GBP,1347.0,1320.0,2%,29/04/2022 17:52,NaN,NaN,1096.50,Algeria (ALG),Argentina (AEP)
4,ALG,Algeria,AEP,Argentina,Airbus A321neo|Boeing 777|Airbus A320,multi,[Lufthansa| LATAM],LH1317|LH1317|LH1317,30/04/2022 12:35,01/05/2022 10:15,...,GBP,1381.0,1320.0,4%,29/04/2022 17:52,NaN,NaN,1144.95,Algeria (ALG),Argentina (AEP)
5,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...,multi,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,30/04/2022 14:30,01/05/2022 16:50,...,GBP,1320.0,1320.0,0%,29/04/2022 17:52,NaN,Brazil,1087.15,Algeria (ALG),Argentina (AEP)
6,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Boeing 787|Airbus...,multi,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,30/04/2022 14:30,01/05/2022 16:50,...,GBP,1195.0,1320.0,-9%,29/04/2022 17:52,NaN,NaN,1087.15,Algeria (ALG),Argentina (AEP)
7,ALG,Algeria,AEP,Argentina,Airbus A320|Airbus A321|Airbus A330|Airbus A320,multi,[Air France| Iberia| LATAM],AF1855|AF1855|AF1855|AF1855,30/04/2022 12:45,01/05/2022 10:15,...,GBP,1373.0,1320.0,4%,29/04/2022 17:52,NaN,Brazil,1091.40,Algeria (ALG),Argentina (AEP)
8,ALG,Algeria,AEP,Argentina,Airbus A320|Airbus A321|Airbus A330|Airbus A320,multi,[Air France| Iberia| LATAM],AF1855|AF1855|AF1855|AF1855,30/04/2022 12:45,01/05/2022 16:50,...,GBP,1373.0,1320.0,4%,29/04/2022 17:52,NaN,NaN,1091.40,Algeria (ALG),Argentina (AEP)
9,ALG,Algeria,AEP,Argentina,Airbus A320|Airbus A321|Boeing 787|Airbus A320,multi,[Air France| LATAM],AF1855|AF1855|AF1855|AF1855,30/04/2022 12:45,01/05/2022 16:50,...,GBP,1248.0,1320.0,-5%,29/04/2022 17:52,NaN,NaN,1091.40,Algeria (ALG),Argentina (AEP)

# Drop columns

In [ ]:
# Drop scan date column and other columns if DataFrame exists
if 'df' in globals():
	columns_to_drop = ['scan_date', 'currency', 'airline_number', 'dest_airport_code', 'Unnamed: 18', 'price' 'from_airport_code', col]
	existing_columns = [c for c in columns_to_drop if c in df.columns]
	if existing_columns:
		df.drop(columns=existing_columns, inplace=True)
	print(df.head(2))
else:
	print("⚠️ DataFrame 'df' is not defined. Please run the cell that loads the data first.") # This helped me ensure the cells are all run from top to bottom
 
df.head(2)

  from_airport_code from_country dest_country  \
0               ALG      Algeria    Argentina
1               ALG      Algeria    Argentina

                                       aircraft_type  \
0  Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...
1  Airbus A318|Canadair RJ 1000|Boeing 787|Airbus...

                  airline_name                flight_number    departure_time  \
0  [Air France| Iberia| LATAM]  AF1491|AF1491|AF1491|AF1491  30/04/2022 14:30
1  [Air France| Iberia| LATAM]  AF1491|AF1491|AF1491|AF1491  30/04/2022 14:30

       arrival_time  duration  stops     price  co2_emissions  \
0  01/05/2022 10:15      1425      3  924.0775         1320.0
1  01/05/2022 10:15      1425      3  924.0775         1195.0

   avg_co2_emission_for_this_route co2_percentage  original_price  \
0                           1320.0             0%         1087.15
1                           1320.0            -9%         1087.15

   from_location    dest_location
0  Algeria (ALG)  Argentina (AEP)
1  Algeria (ALG)  Argentina (AEP)

,from_airport_code,from_country,dest_country,aircraft_type,airline_name,flight_number,departure_time,arrival_time,duration,stops,price,co2_emissions,avg_co2_emission_for_this_route,co2_percentage,original_price,from_location,dest_location
0,ALG,Algeria,Argentina,Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,30/04/2022 14:30,01/05/2022 10:15,1425,3,924.0775,1320.0,1320.0,0%,1087.15,Algeria (ALG),Argentina (AEP)
1,ALG,Algeria,Argentina,Airbus A318|Canadair RJ 1000|Boeing 787|Airbus...,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,30/04/2022 14:30,01/05/2022 10:15,1425,3,924.0775,1195.0,1320.0,-9%,1087.15,Algeria (ALG),Argentina (AEP)